<!-- in this file we define the HTML structure for the home page which will be used as a template -->

<h1> Welcome to home page <%= name %> </h1>

<!-- here <%= name %> is used to dynamically insert the value of the variable 'name' passed from the server -->

<p> This is the home page of our application. </p>

<p> Current Year: <%= year %> </p>
